*{
    font-size: medium;
}

.Formulario{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: medium;
    position: relative;
    padding: 1em;
    width: 100;
}

body{
    background-image: url(https://wallpaperaccess.com/full/3649982.png) ;
    display: flex;
    justify-content: center;
}

.Formulario-1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: medium;
    position: relative;
    padding: 1em;
}

.lottie{
    padding: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Lottie-1{
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10cm;
}

p{
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: medium;
    font-style:oblique;
    color: gold;
    justify-content: center;
    display: flex;
}